@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

*,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-size: 14px;
    color: #fff;
}

p {
    font-weight: 500;
    font-size: 14px;
    color: #a0a0a0a6;
}

.text {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #a0a0a0a6;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

header {
    background-color: #171517;
    height: 700px;
}

/*  NAVIGATION  */
nav {
    padding: 25px 10px 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-text {
    font-weight: 400;
    font-size: 35px;
}

nav ul {
    display: flex;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    transition: color .2s ease;
}

.nav-link:hover {
    color: #CAF808;
}

.nav-btn {
    text-decoration: none;
    color: #171517;
    background-color: #fff;
    padding: 15px 40px;
    width: 123px;
    height: 48px;
    transition: background-color .2s ease;
}

.nav-btn:hover {
    background-color: #e4e4e4;
}


/*  HEADER  */
.header-inner {
    padding-top: 165px;
}

.header-title {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.btn {
    width: fit-content;
    font-weight: 500;
    text-decoration: none;
    color: #171517;
    background-color: #caf808;
    padding: 15px 40px;
    transition: background-color .2s ease;
}

.btn:hover {
    background-color: #b2dd0a;
}

.header-subs {
    margin: 0 auto;
    width: 333px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.header-wrap {
    display: flex;
    align-items: center;
}

.header-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    color: #caf808;
}



/*  SECTION  */
main {
    background-color: #171517;
}
section {
    background-color: #171517;
}

.planner {
    height: 400px;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
}

.section-name {
    font-weight: 500;
    font-size: 18px;
    color: #caf808;
    margin-bottom: 20px;
}

.section-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    margin-bottom: 25px;
}

.planner-text {
    width: 307px;
    display: flex;
    flex-direction: column;
}

.planner-text p {
    margin-bottom: 50px;
}

.planner-info {
    display: flex;
    gap: 115px;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info-wrapper h1 {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
}

.info-wrapper p {
    text-align: center;
}

.pomodoro-text {
    position: relative;
    height: 260px;
    width: 510px;
    display: flex;
    flex-direction: column;
}

.pomodoro-text p {
    margin-bottom: 50px;
}

.timer-text {
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5em;
    color: #caf808;
}

.timer {
    font-weight: 700;
    font-size: 75px;
    color: #fff;
}

.timer-span {
    font-weight: 700;
    font-size: 75px;
    color: #caf808;
}

.timer-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pomodoro {
    height: 450px;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 200px;
}

.pomodoro-text .section-name,
.pomodoro-text .section-title,
.pomodoro-text p {
    text-align: right;
}

.pomodoro-text .btn {
    position: absolute;
    right: 0;
    bottom: 0;
}

.guide-info {
    display: flex;
    justify-content: center;
    gap: 110px;
}

.guide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide-text p {
    text-align: center;
}

.guide {
    padding-top: 65px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.start {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-inner {
    padding: 0 25px 0 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 910px;
    height: 372px;
    background-color: #202020;
}

.start-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-text p {
    margin-bottom: 50px;
}

/*  FOOTER  */
footer {
    height: 320px;
    background-color: #1e1e22;
}

.footer-inner {
    padding-top: 50px;
    justify-content: center;
    display: flex;
    gap: 125px;
}

.footer-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-main .nav-logo {
    margin-bottom: 10px;
}

.footer-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

.footer-sections {
    display: flex;
    gap: 100px;
}

.footer-subs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-link {
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    transition: color .2s ease;
    color: #a0a0a0a6;
}

.footer-link:hover {
    color: #CAF808;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-socials {
    display: flex;
    gap: 20px;
}

.footer-addition {
    margin: 0 auto;
    width: 950px;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

.addition-links {
    display: flex;
    gap: 30px;
}



/*  FORM  */
.form {
    display: flex;
    justify-content: center;
}

.form-left {
    padding: 65px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    background-color: #232327;
}

.form-left p {
    margin-top: 10px;
    text-align: center;
}

.form-right {
    padding: 50px 100px 50px 40px;
    width: fit-content;
    height: 320px;
    background-color: #1E1E22;
}

.form-right p {
    margin: 10px 0 20px 0;
}

.form-link {
    text-decoration: none;
    color: #CAF808;
    transition: color .2s ease;
}

.form-link:hover {
    color: #b2dd0a;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-wrapper {
    display: flex;
    gap: 30px;
}

input {
    color: #171517;
    background: #f6f6f6;
    border-radius: 10px;
    width: 200px;
    height: 35px;
    padding-left: 15px;
    border: 0;
    border-bottom: 2px solid #c4c6d2;
}

input::placeholder {
    color: #a0a0a0a6;
}

input:focus {
    outline: 0;
}

button {
    cursor: pointer;
    border: 0;
    color: #171517;
    width: fit-content;
    padding: 10px 30px;
    background-color: #CAF808;
    transition: background-color .2s ease;
}

button:hover {
    background-color: #b2dd0a;
}